# Temppuja dataframe-tietorakenteella

https://pythonaki.wordpress.com/2017/12/16/temppuja-dataframe-tietorakenteella/

In [1]:
import pandas as pd

#Avaan Excel-datan dataframeen ja näytän 5 ensimmäistä riviä
df = pd.read_excel('http://www.elisanet.fi/taanila/data1.xlsx', sheet_name = 'Data')
df.head()

,nro,sukupuoli,ikä,perhe,koulutus,palvelusvuodet,palkka,tyytyväisyys johtoon,tyytyväisyys työtovereihin,tyytyväisyys työympäristöön,tyytyväisyys palkkaan,tyytyväisyys työtehtäviin,työterveyshuolto,lomaosake,kuntosali,hieroja
0,1,1,38,1,1.0,22.0,3587,3,3.0,3,3,3,NaN,NaN,NaN,NaN
1,2,1,29,2,2.0,10.0,2963,1,5.0,2,1,3,NaN,NaN,NaN,NaN
2,3,1,30,1,1.0,7.0,1989,3,4.0,1,1,3,1.0,NaN,NaN,NaN
3,4,1,36,2,1.0,14.0,2144,3,3.0,3,3,3,1.0,NaN,NaN,NaN
4,5,1,24,1,2.0,4.0,2183,2,3.0,2,1,2,1.0,NaN,NaN,NaN

In [2]:
#Minkä kokoinen data?
df.shape

(82, 16)

In [3]:
#Kuinka monta arvoa kussakin sarakkeessa?
df.count()

nro                            82
sukupuoli                      82
ikä                            82
perhe                          82
koulutus                       81
palvelusvuodet                 80
palkka                         82
tyytyväisyys johtoon           82
tyytyväisyys työtovereihin     81
tyytyväisyys työympäristöön    82
tyytyväisyys palkkaan          82
tyytyväisyys työtehtäviin      82
työterveyshuolto               47
lomaosake                      20
kuntosali                       9
hieroja                        22
dtype: int64

In [4]:
#Näytän palkan mukaisessa järjestyksessä
df.sort_values('palkka')

,nro,sukupuoli,ikä,perhe,koulutus,palvelusvuodet,palkka,tyytyväisyys johtoon,tyytyväisyys työtovereihin,tyytyväisyys työympäristöön,tyytyväisyys palkkaan,tyytyväisyys työtehtäviin,työterveyshuolto,lomaosake,kuntosali,hieroja
25,26,1,26,1,2.0,3.0,1521,2,4.0,2,1,3,1.0,NaN,1.0,1.0
35,36,1,31,2,3.0,0.0,1559,2,4.0,3,1,3,1.0,NaN,NaN,NaN
53,54,1,25,1,2.0,1.0,1559,2,4.0,3,1,2,1.0,NaN,NaN,NaN
75,76,1,37,1,2.0,15.0,1598,1,5.0,1,1,1,1.0,NaN,NaN,NaN
77,78,1,22,1,3.0,0.0,1598,4,4.0,4,3,4,NaN,1.0,1.0,NaN
78,79,1,33,1,1.0,2.0,1638,1,3.0,2,1,2,1.0,NaN,NaN,NaN
63,64,2,44,1,2.0,1.0,1715,4,4.0,3,2,3,1.0,NaN,NaN,1.0
61,62,1,40,2,1.0,0.0,1872,2,3.0,1,2,3,1.0,NaN,NaN,NaN
62,63,2,51,2,2.0,10.0,1872,4,3.0,2,2,3,1.0,NaN,NaN,NaN
46,47,2,22,1,3.0,21.0,1872,3,3.0,4,1,3,NaN,NaN,1.0,NaN
5,6,2,31,2,2.0,14.0,1910,4,4.0,5,2,4,1.0,1.0,NaN,NaN
55,56,2,31,2,1.0,6.0,1949,4,4.0,4,3,3,1.0,NaN,NaN,1.0
29,30,1,21,1,NaN,NaN,1949,4,4.0,3,3,2,1.0,NaN,NaN,NaN
74,75,1,40,1,1.0,1.0,1949,1,5.0,1,1,1,1.0,NaN,NaN,NaN
52,53,1,44,2,1.0,3.0,1989,1,2.0,2,1,1,1.0,NaN,NaN,NaN
34,35,1,28,2,2.0,5.0,1989,3,4.0,3,3,3,1.0,NaN,1.0,1.0
2,3,1,30,1,1.0,7.0,1989,3,4.0,1,1,3,1.0,NaN,NaN,NaN
26,27,1,26,1,2.0,2.0,1989,2,4.0,2,2,3,1.0,NaN,NaN,1.0
45,46,2,51,2,1.0,28.0,1989,3,3.0,2,2,3,1.0,NaN,NaN,1.0
37,38,1,50,2,1.0,1.0,2027,5,5.0,4,1,4,1.0,1.0,NaN,NaN
72,73,2,40,2,3.0,2.0,2027,5,3.0,4,3,4,1.0,NaN,NaN,NaN
65,66,2,37,2,1.0,16.0,2027,5,5.0,5,4,5,1.0,1.0,NaN,NaN
6,7,1,49,1,2.0,16.0,2066,3,5.0,4,2,2,NaN,NaN,1.0,NaN
7,8,1,55,1,1.0,0.0,2066,3,5.0,3,1,3,1.0,NaN,NaN,NaN
50,51,2,39,2,2.0,10.0,2106,4,5.0,5,4,5,NaN,1.0,NaN,NaN
39,40,1,32,1,1.0,3.0,2106,1,5.0,4,1,3,1.0,NaN,NaN,NaN
9,10,1,33,1,1.0,16.0,2106,3,2.0,1,1,1,1.0,NaN,NaN,NaN
42,43,2,40,2,3.0,12.0,2144,4,4.0,4,4,4,NaN,1.0,NaN,NaN
59,60,1,31,1,1.0,10.0,2144,4,4.0,3,1,3,1.0,NaN,NaN,NaN
3,4,1,36,2,1.0,14.0,2144,3,3.0,3,3,3,1.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,65,2,35,2,2.0,17.0,2691,4,4.0,5,2,4,1.0,NaN,NaN,1.0
15,16,2,42,2,3.0,23.0,2691,3,3.0,3,3,3,1.0,NaN,NaN,1.0
20,21,2,40,2,3.0,20.0,2691,2,4.0,5,3,4,NaN,NaN,NaN,NaN
48,49,1,27,2,2.0,7.0,2729,4,4.0,3,3,5,NaN,NaN,1.0,NaN
36,37,2,56,2,2.0,17.0,2729,5,5.0,5,5,5,NaN,NaN,NaN,1.0
17,18,2,38,2,3.0,17.0,2729,4,3.0,4,2,1,NaN,NaN,NaN,NaN
8,9,1,40,2,1.0,23.0,2768,2,4.0,4,2,4,NaN,1.0,NaN,NaN
28,29,1,47,2,2.0,23.0,2808,2,4.0,3,1,4,1.0,NaN,NaN,NaN
80,81,1,35,2,2.0,16.0,2808,3,4.0,3,3,3,NaN,NaN,NaN,NaN
12,13,1,35,2,3.0,15.0,2808,3,5.0,3,1,4,NaN,1.0,NaN,NaN
73,74,1,45,2,1.0,20.0,2846,3,5.0,1,1,3,1.0,NaN,NaN,NaN
40,41,1,33,2,3.0,9.0,2846,3,3.0,4,2,3,1.0,NaN,NaN,NaN
11,12,1,40,2,3.0,21.0,2846,3,5.0,3,1,2,NaN,1.0,NaN,1.0
31,32,1,45,2,1.0,24.0,2925,4,4.0,4,3,4,NaN,1.0,NaN,NaN
24,25,1,43,2,3.0,1.0,2925,4,4.0,4,4,4,NaN,1.0,NaN,NaN
18,19,1,42,1,3.0,20.0,2925,2,3.0,4,1,4,1.0,NaN,NaN,1.0
1,2,1,29,2,2.0,10.0,2963,1,5.0,2,1,3,NaN,NaN,NaN,NaN
69,70,1,52,2,2.0,22.0,3119,3,4.0,3,2,2,1.0,1.0,NaN,1.0
56,57,1,61,2,2.0,36.0,3119,2,NaN,2,1,5,1.0,NaN,NaN,1.0
14,15,1,53,2,3.0,12.0,3393,4,4.0,4,4,4,NaN,1.0,NaN,NaN
71,72,1,46,2,2.0,23.0,3470,3,5.0,5,3,4,NaN,1.0,NaN,NaN
22,23,1,44,2,1.0,27.0,3510,4,4.0,4,4,4,NaN,1.0,NaN,NaN
68,69,1,28,2,2.0,1.0,3510,4,5.0,3,1,4,NaN,NaN,NaN,NaN
13,14,1,58,2,3.0,21.0,3587,4,5.0,4,1,3,NaN,NaN,NaN,NaN
0,1,1,38,1,1.0,22.0,3587,3,3.0,3,3,3,NaN,NaN,NaN,NaN
23,24,1,36,1,3.0,7.0,4446,3,4.0,3,4,5,NaN,NaN,NaN,NaN
21,22,1,47,2,3.0,17.0,4874,2,4.0,3,2,4,NaN,1.0,NaN,NaN
66,67,1,37,2,4.0,8.0,5069,3,4.0,3,2,2,1.0,1.0,NaN,1.0
16,17,1,26,1,4.0,2.0,5225,5,5.0,5,4,5,NaN,NaN,1.0,NaN
32,33,1,59,2,3.0,15.0,6278,4,4.0,5,4,4,NaN,1.0,NaN,NaN

In [5]:
#Tallennan df_filtered1 dataframeksi ne rivit, joilla tyytyväisyys johtoon on pienempi kuin 3
df_filtered1 = df[df['tyytyväisyys johtoon'] < 3]
df_filtered1.head()

,nro,sukupuoli,ikä,perhe,koulutus,palvelusvuodet,palkka,tyytyväisyys johtoon,tyytyväisyys työtovereihin,tyytyväisyys työympäristöön,tyytyväisyys palkkaan,tyytyväisyys työtehtäviin,työterveyshuolto,lomaosake,kuntosali,hieroja
1,2,1,29,2,2.0,10.0,2963,1,5.0,2,1,3,NaN,NaN,NaN,NaN
4,5,1,24,1,2.0,4.0,2183,2,3.0,2,1,2,1.0,NaN,NaN,NaN
8,9,1,40,2,1.0,23.0,2768,2,4.0,4,2,4,NaN,1.0,NaN,NaN
18,19,1,42,1,3.0,20.0,2925,2,3.0,4,1,4,1.0,NaN,NaN,1.0
20,21,2,40,2,3.0,20.0,2691,2,4.0,5,3,4,NaN,NaN,NaN,NaN

In [6]:
#Tallennan df_filtered2 dataframeksi ne rivit, joilla palvelusvuosia on vähemmän kuin kaksi
#ja tyytyväisyys johtoon on 1 (erittän tyytymätön)
df_filtered2=df[(df['palvelusvuodet'] < 2) & (df['tyytyväisyys johtoon'] == 1)]
df_filtered2.head()

,nro,sukupuoli,ikä,perhe,koulutus,palvelusvuodet,palkka,tyytyväisyys johtoon,tyytyväisyys työtovereihin,tyytyväisyys työympäristöön,tyytyväisyys palkkaan,tyytyväisyys työtehtäviin,työterveyshuolto,lomaosake,kuntosali,hieroja
74,75,1,40,1,1.0,1.0,1949,1,5.0,1,1,1,1.0,NaN,NaN,NaN

In [7]:
#Lasken palkan päälle 5 % bonuksen
df['bonus'] = df['palkka'] * 0.05
df['yhteensä'] = df['palkka'] + df['bonus']
df[['palkka', 'bonus', 'yhteensä']].head()

   palkka   bonus  yhteensä
0    3587  179.35   3766.35
1    2963  148.15   3111.15
2    1989   99.45   2088.45
3    2144  107.20   2251.20
4    2183  109.15   2292.15

In [8]:
#Lisään vielä 3 prosentin lisäbonuksen alle 3000 palkoille
df['lisäbonus'] = (df['palkka'] < 3000) * 0.03 * df['palkka']
df[['palkka', 'bonus', 'yhteensä', 'lisäbonus']]

    palkka   bonus  yhteensä  lisäbonus
0     3587  179.35   3766.35       0.00
1     2963  148.15   3111.15      88.89
2     1989   99.45   2088.45      59.67
3     2144  107.20   2251.20      64.32
4     2183  109.15   2292.15      65.49
5     1910   95.50   2005.50      57.30
6     2066  103.30   2169.30      61.98
7     2066  103.30   2169.30      61.98
8     2768  138.40   2906.40      83.04
9     2106  105.30   2211.30      63.18
10    2651  132.55   2783.55      79.53
11    2846  142.30   2988.30      85.38
12    2808  140.40   2948.40      84.24
13    3587  179.35   3766.35       0.00
14    3393  169.65   3562.65       0.00
15    2691  134.55   2825.55      80.73
16    5225  261.25   5486.25       0.00
17    2729  136.45   2865.45      81.87
18    2925  146.25   3071.25      87.75
19    2457  122.85   2579.85      73.71
20    2691  134.55   2825.55      80.73
21    4874  243.70   5117.70       0.00
22    3510  175.50   3685.50       0.00
23    4446  222.30   4668.30       0.00
24    2925  146.25   3071.25      87.75
25    1521   76.05   1597.05      45.63
26    1989   99.45   2088.45      59.67
27    2223  111.15   2334.15      66.69
28    2808  140.40   2948.40      84.24
29    1949   97.45   2046.45      58.47
..     ...     ...       ...        ...
52    1989   99.45   2088.45      59.67
53    1559   77.95   1636.95      46.77
54    2417  120.85   2537.85      72.51
55    1949   97.45   2046.45      58.47
56    3119  155.95   3274.95       0.00
57    2574  128.70   2702.70      77.22
58    2261  113.05   2374.05      67.83
59    2144  107.20   2251.20      64.32
60    2183  109.15   2292.15      65.49
61    1872   93.60   1965.60      56.16
62    1872   93.60   1965.60      56.16
63    1715   85.75   1800.75      51.45
64    2691  134.55   2825.55      80.73
65    2027  101.35   2128.35      60.81
66    5069  253.45   5322.45       0.00
67    2417  120.85   2537.85      72.51
68    3510  175.50   3685.50       0.00
69    3119  155.95   3274.95       0.00
70    2495  124.75   2619.75      74.85
71    3470  173.50   3643.50       0.00
72    2027  101.35   2128.35      60.81
73    2846  142.30   2988.30      85.38
74    1949   97.45   2046.45      58.47
75    1598   79.90   1677.90      47.94
76    2183  109.15   2292.15      65.49
77    1598   79.90   1677.90      47.94
78    1638   81.90   1719.90      49.14
79    2612  130.60   2742.60      78.36
80    2808  140.40   2948.40      84.24
81    2183  109.15   2292.15      65.49

[82 rows x 4 columns]

In [9]:
#Lasken eri koulutuksen suorittaneiden lukumäärät lukumäärän mukaan järjestettynä
df['koulutus'].value_counts()

2.0    30
1.0    27
3.0    22
4.0     2
Name: koulutus, dtype: int64

In [10]:
#Lasken eri koulutuksen suorittaneiden lukumäärät koulutuksen mukaan järjestettynä
df['koulutus'].value_counts(sort = False)

1.0    27
2.0    30
3.0    22
4.0     2
Name: koulutus, dtype: int64

In [11]:
#Lasken tunnusluvut jokaiselle sarakkeelle
df.describe()

,nro,sukupuoli,ikä,perhe,koulutus,palvelusvuodet,palkka,tyytyväisyys johtoon,tyytyväisyys työtovereihin,tyytyväisyys työympäristöön,tyytyväisyys palkkaan,tyytyväisyys työtehtäviin,työterveyshuolto,lomaosake,kuntosali,hieroja,bonus,yhteensä,lisäbonus
count,82.000000,82.000000,82.000000,82.000000,81.000000,80.000000,82.000000,82.000000,81.000000,82.000000,82.000000,82.000000,47.0,20.0,9.0,22.0,82.000000,82.000000,82.000000
mean,41.500000,1.231707,37.951220,1.621951,1.987654,12.175000,2563.878049,3.060976,4.061728,3.219512,2.109756,3.195122,1.0,1.0,1.0,1.0,128.193902,2692.071951,57.457683
std,23.815261,0.424519,9.773866,0.487884,0.844006,8.807038,849.350302,1.058155,0.826826,1.154961,1.111179,1.047502,0.0,0.0,0.0,0.0,42.467515,891.817817,27.355744
min,1.000000,1.000000,20.000000,1.000000,1.000000,0.000000,1521.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.0,76.050000,1597.050000,0.000000
25%,21.250000,1.000000,31.000000,1.000000,1.000000,3.750000,2027.000000,2.000000,4.000000,3.000000,1.000000,3.000000,1.0,1.0,1.0,1.0,101.350000,2128.350000,56.160000
50%,41.500000,1.000000,37.500000,2.000000,2.000000,12.500000,2320.000000,3.000000,4.000000,3.000000,2.000000,3.000000,1.0,1.0,1.0,1.0,116.000000,2436.000000,64.320000
75%,61.750000,1.000000,44.000000,2.000000,3.000000,18.250000,2808.000000,4.000000,5.000000,4.000000,3.000000,4.000000,1.0,1.0,1.0,1.0,140.400000,2948.400000,76.920000
max,82.000000,2.000000,61.000000,2.000000,4.000000,36.000000,6278.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1.0,1.0,1.0,1.0,313.900000,6591.900000,88.890000

In [12]:
#Lasken muuttujien väliset korrelaatiokertoimet
df.corr()

,nro,sukupuoli,ikä,perhe,koulutus,palvelusvuodet,palkka,tyytyväisyys johtoon,tyytyväisyys työtovereihin,tyytyväisyys työympäristöön,tyytyväisyys palkkaan,tyytyväisyys työtehtäviin,työterveyshuolto,lomaosake,kuntosali,hieroja,bonus,yhteensä,lisäbonus
nro,1.000000,0.083647,-0.069163,0.027095,-0.050974,-0.153504,-0.192810,0.018371,0.052791,-0.070468,-0.024959,-0.025239,NaN,NaN,NaN,NaN,-0.192810,-0.192810,-0.018063
sukupuoli,0.083647,1.000000,0.154505,0.249334,0.077620,0.143230,-0.215426,0.325442,-0.147959,0.348216,0.337999,0.174702,NaN,NaN,NaN,NaN,-0.215426,-0.215426,0.192381
ikä,-0.069163,0.154505,1.000000,0.412914,-0.157863,0.531559,0.296872,0.120856,0.077554,0.101577,0.072114,0.187848,NaN,NaN,NaN,NaN,0.296872,0.296872,-0.213012
perhe,0.027095,0.249334,0.412914,1.000000,0.049670,0.345915,0.239839,0.212600,0.090063,0.280548,0.214119,0.315220,NaN,NaN,NaN,NaN,0.239839,0.239839,0.033327
koulutus,-0.050974,0.077620,-0.157863,0.049670,1.000000,-0.145238,0.422408,0.140477,-0.016793,0.296007,0.254002,0.158809,NaN,NaN,NaN,NaN,0.422408,0.422408,-0.200641
palvelusvuodet,-0.153504,0.143230,0.531559,0.345915,-0.145238,1.000000,0.243139,0.073422,0.019732,0.126504,0.004420,0.143100,NaN,NaN,NaN,NaN,0.243139,0.243139,-0.032076
palkka,-0.192810,-0.215426,0.296872,0.239839,0.422408,0.243139,1.000000,0.174133,0.117468,0.267615,0.314889,0.307886,NaN,NaN,NaN,NaN,1.000000,1.000000,-0.550208
tyytyväisyys johtoon,0.018371,0.325442,0.120856,0.212600,0.140477,0.073422,0.174133,1.000000,0.223328,0.584918,0.540228,0.456933,NaN,NaN,NaN,NaN,0.174133,0.174133,-0.087201
tyytyväisyys työtovereihin,0.052791,-0.147959,0.077554,0.090063,-0.016793,0.019732,0.117468,0.223328,1.000000,0.285940,0.086845,0.308939,NaN,NaN,NaN,NaN,0.117468,0.117468,-0.042233
tyytyväisyys työympäristöön,-0.070468,0.348216,0.101577,0.280548,0.296007,0.126504,0.267615,0.584918,0.285940,1.000000,0.538940,0.576431,NaN,NaN,NaN,NaN,0.267615,0.267615,-0.051317
tyytyväisyys palkkaan,-0.024959,0.337999,0.072114,0.214119,0.254002,0.004420,0.314889,0.540228,0.086845,0.538940,1.000000,0.479884,NaN,NaN,NaN,NaN,0.314889,0.314889,-0.153953
tyytyväisyys työtehtäviin,-0.025239,0.174702,0.187848,0.315220,0.158809,0.143100,0.307886,0.456933,0.308939,0.576431,0.479884,1.000000,NaN,NaN,NaN,NaN,0.307886,0.307886,-0.127455
työterveyshuolto,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
lomaosake,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
kuntosali,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hieroja,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
bonus,-0.192810,-0.215426,0.296872,0.239839,0.422408,0.243139,1.000000,0.174133,0.117468,0.267615,0.314889,0.307886,NaN,NaN,NaN,NaN,1.000000,1.000000,-0.550208
yhteensä,-0.192810,-0.215426,0.296872,0.239839,0.422408,0.243139,1.000000,0.174133,0.117468,0.267615,0.314889,0.307886,NaN,NaN,NaN,NaN,1.000000,1.000000,-0.550208
lisäbonus,-0.018063,0.192381,-0.213012,0.033327,-0.200641,-0.032076,-0.550208,-0.087201,-0.042233,-0.051317,-0.153953,-0.127455,NaN,NaN,NaN,NaN,-0.550208,-0.550208,1.000000

In [13]:
#Lasken palkkakeskiarvon niille, joiden tyytyväisyys palkaan on 4 (tyytyväinen) tai 5 (erittäin tyytyväinen)
df['palkka'][df['tyytyväisyys palkkaan'] >= 4].mean()

3374.818181818182